* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    border: 0px;
    // border: 1px solid black;
}
//some basic styles


img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}